/DoubleMethod.class
/PlotPanel.class
/PlotterFrame.class
/Quad.class
/plott.class
/doublee.class
/sqrt.class
/sinus.class
/suche.class
/FUNKsinus.class
/FUNKsqrt.class
/FUNKdoublee.class
/such$PlotPanel.class
/such$PlotterFrame.class
/such.class
/Filter.class
/Plotter.class
/FUNKTIONsin.class
/FUNKTIONdoub.class
/FUNKTIONsqr.class
/Plott2.class
/Plott2$1.class
